@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #5A3733;
}

.s1 {
    background: url('../images/blackboard_edited.jpg') no-repeat;
    background-size: 100% 100%;

    h1 {
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
        font-family: 'Gwendolyn', cursive;
        color: #214B80;
        font-size: 8rem;
        text-align: center;
        text-shadow: 2px 2px 0px #e48070,
        4px  4px 0px #efa032,
        6px  6px 0px #46b59b,
        8px  8px 0px #017e7f,
        10px 10px 0px #052939,
        12px 12px 0px rgba($color: #214B80, $alpha: 0.4),
        14px 14px 0px rgba($color: #214B80, $alpha: 0.3),
        16px 16px 0px rgba($color: #214B80, $alpha: 0.2),
        18px 18px 0px rgba($color: #214B80, $alpha: 0.1);
    }

    h2{
        background-size: cover;
        text-align: center;
    }

    .lunch{
        color: #FED967;
        font-family: 'Fredericka the Great', cursive;
        font-size: 3rem;
    }

    .is {
        color: #FED967;
        font-family: 'Gwendolyn',
        cursive;
        font-size: 3rem;
    }

    .best{
        color: white;
        font-family: 'Fredericka the Great',
        cursive;
        font-size: 3rem;
    }

    .day{
        color: #FED967;
        font-family: 'Fredericka the Great',
        cursive;
        font-size: 3rem;
    }
}

.and{
    color: #FF4067;
}

.s2 {
    background: url('../images/second_image_edited.jpg');
    background-size: cover;

    h1 {
        text-align: left;
        margin-left: 2em;
        font-size: 4rem;
    }
}

.s3 {
    background: url('../images/third_image.jpg');
    background-size: cover;

    h1{
        text-align: right;
        margin-right: 2em;
        font-size: 4rem;
    }
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: white;
}

#fp-nav ul li .fp-tooltip {
    color: white;
}

.floating-menu {
    background: url("../images/Dark_wood.jpg") no-repeat;
    background-size: 100% 100%;
    font-family: 'Fredericka the Great',
    cursive;
    position: fixed;
    padding: 5px;
    max-width: 100%;
    z-index: 100;
    top: 7.5%;
    border-radius: 2% 6% 5% 4%/ 1% 1% 2% 4%;
}

.floating-menu::before{
    content: '';
    border: 2px solid #353535;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    z-index: -1;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
}

.floating-menu a {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 2em;
    margin: 0 0.5em;
    color: rgba($color: white, $alpha: 1.0);
    overflow: hidden;
}

.floating-menu a{
    background: linear-gradient(to right, #FED967 50%, white 50%);
}

.floating-menu a{
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
}

.floating-menu a{
    transition: background-position 275ms ease;
}

.floating-menu a:hover{
    background-position: 0 100%;
}